.tabcontent {
    display: none;
}

#nav-tab {
    border:none
}

.card{
    background-color: #DFCCF1 ;
    
}

header > h1{
    color: #DFCCF1 ;
}

.active a{
    background-color: blueviolet;

}

.card-header{
    color: rgb(85, 84, 84);
}

p, label,th,td,tr,table{
    color :  rgb(85, 84, 84);
    border-color: rgb(85, 84, 84);

}
td{
    width: 70px;
    height: 30px;
}

table{
margin-left: auto;
margin-right: auto;
}

