.tabcontent {
    display: none;
}

#nav-tab .active{
    border:none;
    background-color: #E6E6FA;
}

.nav-item .nav-link a{
    color:white;
}

.card{
    background-color: #DFCCF1 ;
    
}

header > h1{
    color: #DFCCF1 ;
}

 

.card-header{
    color: rgb(85, 84, 84);
}

p, label,th,td,tr,table{
    color :  rgb(85, 84, 84);
    border-color: rgb(85, 84, 84);

}
td{
    width: 70px;
    height: 30px;
}

table{

}

.flex-container{
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding-right: 15px;
}